
// VARIABLES GLOBALES

// Colores principales

$color-primario: #ff7c0a;
$color-bg-blanco: #ffffff;
$color-bg-1:#e4e4e4;
$color-bg-2:#f5ecddd1;
$color-dark: #212529;
$color-text: #333333;


// Fuentes

$font-family: "Noto Sans", sans-serif;


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: $font-family !important;
  color: $color-text;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;

  &:hover {
    color: $color-primario;
  }
}


//



