/*--Galleria de fotos--*/

.section-galeria {
    padding: 1rem;
    padding-top: 2rem;
    background-color: $color-bg-2;
    h1 {
        font-size: 2.25rem;
        @media (max-width: 768px){
            font-size: 1.8rem;
            }
        }
    p {
        font-size: 0.9rem;
        margin-bottom: 3rem;
        color: #666;
        }
    .galeria {
        display: grid;
        margin: 0.5rem;
        grid-template-columns: 1fr;
        gap: 0.5rem;

        @media (min-width: 480px) {
        grid-template-columns: repeat(3, 1fr);
        gap: 0.5rem;
        }

        @media (min-width: 1024px) {
        grid-template-columns: repeat(4, 1fr);
        }

        .galeria-item {
            position: relative;
            overflow: hidden;
            border-radius: 4px;
            box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

            img{
                width: 100%;
                height: 13rem;
                object-fit: cover;
                display: block;
            }

            }
    }
}

/*--Video--*/

.section-video{
    padding: 4rem 0;
    background-color: $color-bg-1;
    h2{
        font-size: 2.25rem;

        @media (max-width: 768px){
        font-size: 1.8rem;
        text-align: center;
        }
    }
    p{
        padding-top: 1rem;
        font-size: 0.9rem;
        margin-bottom: 3rem;
        color: #666;
        @media (max-width: 768px) {
        text-align: center;
        }
    }

    .video{
        position: relative;
        width: 100%;
        padding-top: 56.25%;
        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 8px;
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
        }
    }
}


