/*Primitivos*/
$color_primario: #ff7c0a;
$font-family: "Noto Sans", sans-serif !important;

* {
  font-family: $font-family;
}

/*Header*/

.navbar {
  .nav-logo {
    height: 3rem;
  }
  .navbar-brand {
    font-weight: 600;
    font-size: 1rem;
    align-items: baseline;
    color: #ff7c0a;
  }
}

.hero-header {
  height: 95vh;
  .hero-txt{
    width: 55vw;
  }
  .hero-img {
    background-image: url(../img/javi_explorador.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
  }
  .btn{
    max-width: 15rem;
    font-weight: 600;
    color: $color_primario;
    border-color: $color_primario;
  }
}
